body {
    margin: 0 auto;
    height: 100%;
    width: 600px;
    font-family: 'Smythe';
} 

.container{
    height: 167px;
    background-image: url(./header.png);
    background-size: cover;
}

.card{
    width: 548px;
    height: 180px;
    display: flex;
    align-items: center;  
    justify-content: flex-start;
    margin: 10px auto;
    border-bottom: 1px solid #DEDEDE;
    /* background-color: red; */
}

.menu{
    display: flex;
    gap: 20px;
    margin: 10px 0;
    /* background-color: red; */
}

.item-photo{
    font-size: 80px;
    margin: 10px;
}

.item-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-name h3,
.item-name h4{
    margin: 2px 0;
}

.add-item{
    margin-left: auto;
    border: 1px solid #DEDEDE;
    border-radius: 50%;
    /* display: flex; */

}
.fa-solid{
    padding: 20px;
}

/* .card:hover .item-photo{
    transform: scale(1.2);
    transition: transform 1s ease-out;
} */

.card h3,
.card h4{
    font-size: 24px;
    font-family: "Smythe", system-ui;
    font-weight: 400;
}

.card h4{
    color: #8B8B8B;
    font-size: 14px;
    margin-bottom: 20px;
}

.order-head{
    text-align: center;
}

.complete-order{
    margin: 10px auto;
    width: 548px;
    height: 45px;
    display: flex;
    align-items: center;  
    justify-content: flex-start;
    padding: 20px 220px;
    background-color: #16DB99;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-weight: bold;
}

.order-final-item{
    width: 548px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    /* background-color: red; */
}

.line{
    width: 548px;
    margin: 10px auto;
    margin-top: 25px;
    /* margin-bottom: 15px; */
    border-bottom: 2px solid black;
}

.price-total{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin: 20px 30px;
}

.order-final-item button{
    border: none;
    background: transparent;
    color: #9d9a9a;
    margin-right: auto;
}

.checkout-payment-modal{
    display: none;
    position: fixed;
    padding: 15px;
    top: 50%;
    left: 50%;
    align-items: center;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 450px;
    height: auto;
    background-color: #fff;
    box-shadow: -15px 30px 30px 40px #8B8B8B;
}

.checkout-payment-modal h3{
    font-family: 'Verdana';
    text-align: center;
}

.checkout-form input{
    display: block;
    width: 400px;
    height: 60px;
    margin: 20px auto;
    padding: 15px;
    border: 1px solid #8B8B8B;
    border-radius: 3px;
    font-size: large;
}

.checkout-form button {
    font-size: large;
    font-weight: bold;
    background-color: #16DB99;
    color: #fff;
    display: block;
    margin: 40px auto;
    width: 400px;
    height: 70px;
    border: none;
    border-radius: 3px;
}

.order-confirm{
    width: 400px;
    height: auto;
    padding: 20px;
    margin: 15px auto;
    font-size: 24px;
    font-weight: 400;
    background-color: #ECFDF5;
    color: #065F46;
    text-align: center;
}